@page "/"
@using ChefMate.Models
@using ChefMate.App.Services

<PageTitle>ChefMate</PageTitle>

<h1>Recipes</h1>

<table class="table table-striped table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Created At</th>
    </tr>
    @foreach (var recipe in Recipes)
    {
        <tr>
            <td>@recipe.Id</td>
            <td>@recipe.Name</td>
            <td>@recipe.CreatedAt</td>
            <td>
                <a href="/editRecipe/@recipe.Id" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <button class="btn-danger" @onclick="@((() => DeleteRecipe(recipe)))">Delete</button>
            </td>
        </tr>   
    }
</table>

@code{
    [Inject]
    public RecipeService RecipeService { get; set; }

    public List<Recipe> Recipes { get; set; } = new List<Recipe>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Recipes = await RecipeService.GetAll();
    }

    private async Task DeleteRecipe(Recipe recipe)
    {
        var deleted = await RecipeService.Delete(recipe.Id);
        if (deleted)
        {
            Recipes.Remove(recipe);
        }
    }
}